SANMAR_SFTP_HOST=ftp.sanmar.com
SANMAR_SFTP_PORT=2200
SANMAR_SFTP_USERNAME=your_sanmar_customer_number
SANMAR_SFTP_PASSWORD=your_sanmar_ftp_password
SANMAR_EPDD_REMOTE_PATH=/SanMar_EPDD.csv
SANMAR_DIP_REMOTE_PATH=/sanmar_dip.txt
SANMAR_CACHE_DIR=/tmp/sanmar
